{% extends "base.html" %}
{% block body_class %}login-bg{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
  <div class="card card-custom p-4">
    <h2 class="text-center mb-4">Login</h2>
    <form method="POST">
      <div class="mb-3">
        <label>Username</label>
        <input type="text" name="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
   
  </div>
</div>
{% endblock %}








